In [13]:
import numpy as np
import pandas as pd
import numpy

In [14]:
status = pd.read_csv('data/dataset.csv',header=None, na_values="?")

In [15]:
f = open('data/feature_names.txt','r')
data = []
for line in f:
    data.append(line.strip())
status.columns = data
status

,id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,tr1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,tr2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,tr3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,tr4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,tr5,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30935,tr30936,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30936,tr30937,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30937,tr30938,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30938,tr30939,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30939,tr30940,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [16]:
status.describe() # describe the value with missing values still in data

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,30940.0000,30940.0000,30940.0000,30940.0000,30940.0000,30940.0000
mean,38.5608,189786.4014,10.0813,1081.8130,86.5700,40.4089
std,13.6394,105406.3944,2.5700,7443.7730,401.7060,12.3369
min,17.0000,12285.0000,1.0000,0.0000,0.0000,1.0000
25%,28.0000,117849.0000,9.0000,0.0000,0.0000,40.0000
50%,37.0000,178384.0000,10.0000,0.0000,0.0000,40.0000
75%,48.0000,237318.0000,12.0000,0.0000,0.0000,45.0000
max,90.0000,1484705.0000,16.0000,99999.0000,4356.0000,99.0000

In [17]:
status.isna().sum()

id                   0
age                  0
workclass         1735
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1742
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     554
target               0
dtype: int64

In [18]:
pd.set_option('display.float_format',lambda x: '%.4f' %x)
pd.options.mode.chained_assignment = None
status.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,30940.0000,30940.0000,30940.0000,30940.0000,30940.0000,30940.0000
mean,38.5608,189786.4014,10.0813,1081.8130,86.5700,40.4089
std,13.6394,105406.3944,2.5700,7443.7730,401.7060,12.3369
min,17.0000,12285.0000,1.0000,0.0000,0.0000,1.0000
25%,28.0000,117849.0000,9.0000,0.0000,0.0000,40.0000
50%,37.0000,178384.0000,10.0000,0.0000,0.0000,40.0000
75%,48.0000,237318.0000,12.0000,0.0000,0.0000,45.0000
max,90.0000,1484705.0000,16.0000,99999.0000,4356.0000,99.0000

In [19]:
status['capital-gain'].unique()
status['fnlwgt'].mode()

0    123011
1    203488
dtype: int64

In [20]:
contFeatures = list(status.select_dtypes(include='int64').columns)
catFeatures = list(status.select_dtypes(include='object').columns)
catFeatures.remove('id')

contHeadings = ('FEATURENAME','Count','% Miss','Card.', 'Min', '1st Qrt.', 'Mean', 'Median', '3rd Qrt', 'Max', 'Std. Dev.')
catHeadings = ('FEATURENAME','Count','% Miss','Card.','Mode','Mode Freq.','Mode %', '2nd Mode', '2nd Mode freq', '2nd Mode %')
contFeatures

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week']

In [21]:
cont = pd.DataFrame(0, index=np.arange(len(contFeatures)), columns=contHeadings) #create empty datafram
cont['FEATURENAME'] = contFeatures
cont.set_index('FEATURENAME', inplace=True)

cont[['Mean','Std. Dev.']] = cont[['Mean','Std. Dev.']].astype('float64')

In [22]:
i = 0

for x in contFeatures:
    cont['Count'][i] = status[x].count() # set count
    cont['% Miss'][i] = status[x].isnull().sum() * 100 / status[x].count()
    cont['Min'][i] = status[x].min()
    cont['1st Qrt.'][i] = status[x].quantile(0.25)
    cont['Mean'][i] = status[x].mean()
    cont['Median'][i] = status[x].median()
    cont['3rd Qrt'][i] = status[x].quantile(0.75)
    cont['Max'][i] = status[x].max()
    cont['Std. Dev.'][i] = status[x].std()
    i+=1

cont.to_csv('data/C18357323CONT.csv')
cont

,Count,% Miss,Card.,Min,1st Qrt.,Mean,Median,3rd Qrt,Max,Std. Dev.
FEATURENAME,,,,,,,,,,
age,30940,0,0,17,28,38.5608,37,48,90,13.6394
fnlwgt,30940,0,0,12285,117849,189786.4014,178384,237318,1484705,105406.3944
education-num,30940,0,0,1,9,10.0813,10,12,16,2.5700
capital-gain,30940,0,0,0,0,1081.8130,0,0,99999,7443.7730
capital-loss,30940,0,0,0,0,86.5700,0,0,4356,401.7060
hours-per-week,30940,0,0,1,40,40.4089,40,45,99,12.3369

In [23]:
cat = pd.DataFrame('0', index=np.arange(len(catFeatures)), columns=catHeadings) #create empty datafram
cat['FEATURENAME'] = catFeatures
cat.set_index('FEATURENAME', inplace=True)

In [24]:
i = 0

for x in catFeatures:
    cat['Count'][i] = status[x].count() # set count
    cat['% Miss'][i] = status[x].isnull().sum() * 100 / status[x].count()
    cat['Mode'][i] = status[x].mode()[0]
    cat['Mode Freq.'][i] = status[x].value_counts()[0]
    cat['Mode %'][i] = status[x].value_counts()[0] * 100 / status[x].count()
    cat['2nd Mode'][i] = status[x].value_counts().index.tolist()[1]
    cat['2nd Mode freq'][i] = status[x].value_counts()[1]
    cat['2nd Mode %'][i] = status[x].value_counts()[1] * 100 / status[x].count()
    i+=1


cat.to_csv('data/C18357323CAT.csv')
cat

,Count,% Miss,Card.,Mode,Mode Freq.,Mode %,2nd Mode,2nd Mode freq,2nd Mode %
FEATURENAME,,,,,,,,,
workclass,29205,5.9408,0,Private,21576,73.8778,Self-emp-not-inc,2406,8.2383
education,30940,0.0000,0,HS-grad,9976,32.2431,Some-college,6938,22.4240
marital-status,30940,0.0000,0,Married-civ-spouse,14201,45.8985,Never-married,10167,32.8604
occupation,29198,5.9662,0,Prof-specialty,3932,13.4667,Craft-repair,3887,13.3126
relationship,30940,0.0000,0,Husband,12496,40.3878,Not-in-family,7904,25.5462
race,30940,0.0000,0,White,26442,85.4622,Black,2965,9.5831
sex,30940,0.0000,0,Male,20705,66.9198,Female,10235,33.0802
native-country,30386,1.8232,0,United-States,27719,91.2229,Mexico,607,1.9976
target,30940,0.0000,0,<=50K,23506,75.9729,>50K,7434,24.0271